@model UpdateProductDTO
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row">
                <!-- 12 Birim -->
                <div class="col-md-6 offset-3">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Ürün Güncelle</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form action="/Product/Edit" method="post" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" name="Id" value="@Model.Id" />
                            <div class="card-body">
                                <div class="form-group">
                                    <label>Kategori</label>
                                    <select class="form-control" asp-for="CategoryId">
                                        @foreach (Category item in (List<Category>)ViewBag.Categories)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }

                                    </select>
                                    <span asp-validation-for="CategoryId" class="text-danger"></span>

                                </div>

                                <div class="form-group">
                                    <label>Ürün Ad</label>
                                    <input asp-for=Name class="form-control" placeholder="Ürün adı..">
                                        <span asp-validation-for="Name" class="text-danger"></span>

                                    </div>
                                    <div class="form-group">
                                        <label>Ürün Fiyatı</label>
                                        <input asp-for="ListPrice" class="form-control" min="0" step="0.1" placeholder="Ürün fiyatı..">
                                            <span asp-validation-for="ListPrice" class="text-danger"></span>

                                        </div>
                                        <div class="form-group">
                                            <label>Ürün Açıklaması</label>
                                            <textarea asp-for="Description" rows="5" class="form-control">@Model.Description</textarea>
                                            <span asp-validation-for="Description" class="text-danger"></span>

                                        </div>
                                        <div class="form-group">
                                            <label>Ürün Stok</label>
                                            <input asp-for=Stock class="form-control" min="0" step="10" placeholder="Ürün stok..">
                                                <span asp-validation-for="Stock" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label>İndirim</label>
                                                <input asp-for="Discount" class="form-control" min="0" max="100" step="1" placeholder="İndirim..">
                                                    <span asp-validation-for="Discount" class="text-danger"></span>
                                                </div>



                                                <div class="form-group">
                                                    <label>Resimler</label>
                                                    <div class="row">
                                                        @foreach (Image item in Model.Images)
                                                        {
                                                            <div class="col-3" style="align-items:center">
                                                                <img src="~/img/@item.Url" width="100%" />
                                                                <input type="checkbox" name="ImageId" value="@item.Id" />
                                                            </div>
                                                        }
                                                    </div>
                                                    <input type="file" class="form-control" name="files" multiple>
                                                </div>

                                                <div class="form-group">
                                                    <div class="form-check">
                                                        <input class="form-check-input" asp-for="IsFavorite">
                                                            <label class="form-check-label">Favori</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /.card-body -->

                                                <div class="card-footer">
                                                    <button type="submit" class="btn btn-primary">Güncelle</button>
                                                </div>
                                            </form>
                                        </div>
                                        <!-- /.card -->


                                    </div>

                                </div>
                                <!-- /.row -->
                            </div><!-- /.container-fluid -->
                        </div>
                    </div>
